<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpiritFitnessApp_Team4_SwiftProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AFFB51EC1E8DCD8E006F26EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFFB52001E8DCD8F006F26EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFFB520B1E8DCD8F006F26EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
